/*
Minimal theme for Calculator UI.
*/

QWidget {
    background-color: rgb(255, 255, 255);
}

QLineEdit {
    background-color: rgb(225, 225, 225);
    border: 2px hidden;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    selection-color: rgb(0, 0, 0);
    selection-background-color: rgba(50, 50, 50, 0.5);
}

QPushButton {
    background: rgb(225, 225, 225);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    color: rgb(0, 0, 0);
    padding: 5px;
}
