/*
Minimal theme for Calculator UI.
*/

QWidget {
    background-color: rgb(255, 255, 255);
}

QLineEdit {
    background-color: rgb(225, 225, 225);
    border-style: hidden;
    border-width: 1px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    selection-background-color: rgba(65, 90, 255, 0.3);
}

QPushButton {
    background: rgb(225, 225, 225);
    border-style: hidden;
    border-width: 2px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}
